[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-sqlalchemy = "*"
alembic = "*"
bcrypt = "*"
psycopg2 = "*"
python-jose = "*"
passlib = "*"
replit = "*"
python-multipart = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
